<section class="page-agent container-fluid with-maxwidth no-breadcrumbs">
    <div class="box box-default">
        <div class="box-heading">
            <div class="row" *ngIf="showHeaderMenu">
                <div class="col-lg-2 text-left">
                    <a class="btn-icon btn-icon-md btn-primary" href="javascript:;" (click)="previousAgentClicked()"><i class="fa fa-angle-left fa-2x"></i></a>
                    <a class="btn-icon btn-icon-md btn-primary" style="margin-left: 5px" href="javascript:;" (click)="nextAgentClicked()"><i class="fa fa-angle-right fa-2x"></i></a>
                </div>
                <div class="col-lg-4 text-left">
                    <p style="font-weight:700; font-size:20px">Viewing {{currentIndex}} of {{totalCount}}</p>
                </div>
                <div class="col-lg-6 text-right">
                    <a class="btn-icon btn-icon-md btn-primary" href="javascript:;" [routerLink]="['addnew']"><i class="fa fa-plus"></i></a>
                    <span class="space space-sm"></span>
                    <a class="btn-icon btn-icon-md btn-primary" href="javascript:;" (click)="deleteAgentClicked"><i class="fa fa-trash"></i></a>
                    <!--<span class="space space-sm"></span>
                    <a class="btn-icon btn-icon-md btn-primary" href="javascript:;" [routerLink]="['../list']"><i class="fa fa-list"></i></a>-->
                </div>
            </div>
        </div>        
        <div class="box-body">
            <router-outlet></router-outlet>
        </div>
    </div>        
</section>