<section class="page-agent-buy-inquiry-setup container-fluid with-maxwidth no-breadcrumbs">
    <article class="article" *ngIf="currentAgent && currentAgent?.buyInquiry">
        <h2 class="article-title"></h2>
        <div class="row">
            <div class="col-xl-6">
                <div class="box box-default">
                    <div class="box-header">Inquiry Setup</div>
                    <div class="box-body padding-xl">

                        <div class="form-group row">
                            <div class="col-md-3">
                                <strong><label for="Typeformurl" class="col-md-2 control-label">Typeform Url</label></strong>
                            </div>
                            <div class="col-md-9">
                                <span *ngIf="currentAgent != null">{{currentAgent.buyInquiry.typeFormUrl}}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <strong><label for="Spreadsheeturl" class="col-md-2 control-label">Spreadsheet Url</label></strong>
                            </div>

                            <div class="col-md-9" style="word-break:break-word">
                                <span *ngIf="currentAgent != null">{{currentAgent.buyInquiry.spreadsheetUrl}}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <strong><label for="Spreadsheetname" class="col-md-2 control-label">Spreadsheet Name</label></strong>
                            </div>

                            <div class="col-md-9" style="word-break:break-word">
                                <span *ngIf="currentAgent != null">{{currentAgent.buyInquiry.spreadsheetName}}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <strong><label class="col-md-2 control-label">Spreadsheet Public Link</label></strong>
                            </div>
                            <div class="col-md-9" style="word-break:break-word">
                                <form name="spreadsheetShareableLink_form" *ngIf="currentAgent != null" class="form-validation" (ngSubmit)="saveSpreadsheet()" #spreadsheetForm="ngForm">
                                    <div class="form-group">
                                        <mat-form-field class="full-width">
                                            <input matInput name="spreadsheetShareableLink" placeholder="" [(ngModel)]="currentAgent.buyInquiry.spreadsheetShareableUrl">
                                        </mat-form-field>
                                    </div>
                                    <button type="submit" mat-raised-button color="primary" class="float-left" [disabled]="!spreadsheetForm.valid">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="box box-default">
                    <div class="box-header">Mortgage</div>
                    <div class="box-body padding-xl">

                        <div class="form-group row">
                            <div class="col-md-3">
                                <strong><label for="inputEmail3" class="col-md-2 control-label">Mortgage Spreadsheet Url</label></strong>
                            </div>

                            <div class="col-md-9" style="word-break:break-word">
                                <span>{{currentAgent.buyInquiry.mortgageSpreadsheetUrl}}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <strong><label for="inputPassword3" class="col-md-2 control-label">Mortgage Spreadsheet Id</label></strong>
                            </div>
                            <div class="col-md-9" style="word-break:break-word">
                                <span>{{currentAgent.buyInquiry.mortgageSpreadsheetId}}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <strong><label for="inputPassword3" class="col-md-2 control-label">Mortgage Spreadsheet Name</label></strong>
                            </div>
                            <div class="col-md-9" style="word-break:break-word">
                                <span>{{currentAgent.buyInquiry.mortgageSpreadsheetName}}</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <strong><label class="col-md-2 control-label">Mortgage Spreadsheet Public</label></strong>
                            </div>
                            <div class="col-md-9" style="word-break:break-word">
                                <form name="mortgageSpreadsheetShareableLink_form" *ngIf="currentAgent != null" class="form-validation" (ngSubmit)="saveMortgageSpreadsheet()" #mortgageForm="ngForm">
                                    <div class="form-group">
                                        <mat-form-field class="full-width">
                                            <input matInput name="mortgageSpreadsheetShareableLink" placeholder="" [(ngModel)]="currentAgent.buyInquiry.mortgageSpreadsheetShareableUrl">
                                        </mat-form-field>
                                    </div>
                                    <button type="submit" mat-raised-button color="primary" class="float-left" [disabled]="!mortgageForm.valid">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="box box-default">
                    <div class="box-header">Autoresponder Template</div>
                    <div class="box-body padding-xl">
                        <form name="material_login_form" *ngIf="currentAgent != null" class="form-validation" (ngSubmit)="saveAutoresponderTemplate()" #messageForm="ngForm">
                            <div class="form-group">
                                <mat-form-field class="full-width">
                                    <input matInput name="agentAutoresponderTemplateId" placeholder="Agent Autoresponder TemplateId" [(ngModel)]="currentAgent.buyInquiry.inquiryAutoresponderTemplate.agentAutoresponderTemplateId">
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field class="full-width">
                                    <input matInput name="customerAutoresponderTemplateId" placeholder="Customer Autoresponder TemplateId" [(ngModel)]="currentAgent.buyInquiry.inquiryAutoresponderTemplate.customerAutoresponderTemplateId">
                                </mat-form-field>
                            </div>
                            <button type="submit" mat-raised-button color="primary" class="float-left" [disabled]="!messageForm.valid">Save Template</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                
            </div>
        </div>
        <div id="zap_integration">

        </div>
    </article>
</section>