<section class="page-agent-rent-inquiry-setup container-fluid with-maxwidth no-breadcrumbs">
    <article class="article" *ngIf="currentAgent">
        <h2 class="article-title"></h2>
        <div class="row">
            <div class="col-xl-12">
                <form name="social-media-form" class="form-validation" (ngSubmit)="saveSocialMedia()" #messageForm="ngForm">
                    <div class="form-group">
                        <mat-form-field class="full-width">
                            <input required matInput name="facebook" placeholder="Facebook" [(ngModel)]="currentAgent.facebook">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="full-width">
                            <input required matInput name="instagram" placeholder="Instagram" [(ngModel)]="currentAgent.instagram">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="full-width">
                            <input required matInput name="twitter" placeholder="Twitter" [(ngModel)]="currentAgent.twitter">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="full-width">
                            <input required matInput name="linkedin" placeholder="Linkedin" [(ngModel)]="currentAgent.linkedIn">
                        </mat-form-field>
                    </div>
                    <button type="submit" mat-raised-button color="primary" class="float-left" [disabled]="!messageForm.valid">Save</button>
                </form>
            </div>
        </div>
    </article>
</section>